  padding: 10px 0px;
  margin-top: -110px;
  margin-bottom: -75px;
}

header .img-logo {
  height: 375px;
  width: auto;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  
}

.seção-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 575px;
  margin-bottom: -225px;
  
}
h3{
  display: flex;
  justify-content: center;
  margin-bottom: 75px;

}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 125px;
  gap: 50px;
  
}

.cards-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  font-size: 15px;
  font-weight: bold;
}

.footer p{
  text-align: center;
}
.amanda_img{
  width: 350px;
  height: 447px;
  border: 3px solid rgb(115, 115, 115);
  border-radius: 35px;
}
.projeto_guilherme{
  width: 350px;
  border: 3px solid rgb(115, 115, 115);
  border-radius: 20px;
}
.projeto_aylton{
  width: 350px;
  border: 3px solid rgb(115, 115, 115);
  border-radius: 20px;
}