.servicos-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    color: rgb(156, 66, 240);
}

.design{
    display: flex;
    flex-direction: column;
    gap: 10px;
}